<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string></string>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiZ29zbm93IiwiYSI6ImNtaWp2a3l2OTA2OGszZXNkN3oxY2p4bjcifQ.JhHi_H65UPCQ13owwnk5AQ</string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>StartIntent</string>
		<string>StopIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
